# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "docs"
  docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install setuptools
      run: |
        apt install python3-sphinx
        pip3 install setuptools
        pip3 install pydata-sphinx-theme jupyter_sphinx
        make -C scripts html

    - name: Share artifacts
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: docs
